<h3>Checkout</h3><p><%= link_to "清空購物車", clear_path  %></p> <p><%= link_to '繼續購物', products_path %></p>

<h4>購物清單</h4>

 <table class="table">

    <thead>
      <tr>
        <td>Image</td>
        <td>Name</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Total</td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      <%= @cart.cart_items.each do |cart_item| %>
        <tr>
          <td><%= image_tag cart_item.product.image.thumb.url %></td>
          <td><%= cart_item.product.name %></td>
          <td><%= cart_item.product.price %></td>
          <td><%= cart_item.quantity.to_i %></td>
          <td><%= cart_item.total_price %> </td>
          <td><%= link_to 'Delete', remove_path(:id => cart_item.product.id)  %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
<p>Total amount : <%= @cart.total_amount %>  </p>
